#container * {
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
    width: 660px;
    height: 380px;
    top: 20px;
    left: 20px;
    position: relative;


}

#container #nav {
    position: absolute;
    height: 380px;
    width: 76px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#container #nav ul{
    list-style: none;
}

#container .navItem {
    display: block;
    opacity: 0.5;
}

#container .navItem:hover {
    opacity: 1;
}

#container .navItem.active img.on{
    display: block;
}

#container .navItem.active img.off{
    display: none;
}

#container .navItem img.on{
    display: none;
}

#container .navItem img.off{
    display: block;
}

#container .navItem.active {
    opacity: 1;
}

#container #viewport {
    position: absolute;
    left: 91px;
}

#container .caption {
    position: absolute;
    bottom: 0px;
    height: 52px;
    width: 100%;
    overflow: hidden;
    color: #fff;
    font-family: arial, sans-serif;
    background: rgba(0,0,0, .6);
    padding-top: 15px;
    text-indent: 65px;
}

#container .caption span{
    font-size: 11px;
    display: block;
}

#container .caption .cta{
    background: url(../img/cta_new.png) no-repeat;
    width: 96px;
    height: 30px;
    position: absolute;
    bottom: 16px;
    right: 10px;
}

#container .caption .cta span{
    display: none;
}

#container #viewport .advItem.selected{
    display: block;
}

#container #viewport .advItem {
    display: none;
}


#container #viewport .advItem ul {
    height: 380px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 10px;
    list-style: none;
}

#container #viewport .advItem ul li{
    display: block;
    width: 96px;
    height: 65px;
    margin: 9px 0 0 0;
    border: solid 1px #fff;
    background: #000;
}

#container #viewport .advItem li img.thumb {
    width: 96px;
    height: 65px;
    opacity: 0.7;
    z-index: 100;
}

#container #viewport .advItem li img:hover{
    opacity: 1;
}

#container #viewport div.advItem.active{
    display: block;
}

#container #viewport div.advItem {
    display: none;
}